[Unit]
Description=Message bus monitor on %I
Requires=rpm-ostree-toolbox-kinit@%I.timer

[Service]
Type=simple
User=rpmostreecompose
Group=rpmostreecompose
EnvironmentFile=/etc/sysconfig/rpm-ostree-toolbox-%I
ExecStart=/usr/bin/rpm-ostree-toolbox-build-monitor -c $CONFIG
